.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    width: 100%;
  }
  
  .dashboard-card {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  