<div class="container">
  <h1>Closed Tickets</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ticket ID</th>
        <th scope="col">User</th>
        <th scope="col">Issue</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of closedTickets">
        <td>{{ticket._id}}</td>
        <td>{{ticket.username}}</td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.status}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="goToEditTicket(ticket._id)">Edit Ticket</button>
          <button class="btn btn-danger btn-sm" (click)="deleteTicket(ticket._id)">Delete Ticket</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
 