<div class="container">
  <div class="card">
    <h2>About Us</h2>
    <p class="card-text">CentralHelp is a open source helpdesk software that aims to provide small to medium businesses with affordable
      and straight forward support services. CentralHelp is designed to be accessible to all people, regardless of technical knowledge.
      It is a constantly evolving application, and aims to reduce the need for smaller companies to pay large subscription fees to established
      service providers, that often have a range of complex features that are not required in everyday business. CentralHelp is dedicated to ensuring
       that our services stay up-to-date and relevant, taking into account user feedback and developments in the IT industry. We strive to exceed customer expectations at every opportunity.
    </p>
  </div>
  <div class="card">
    <h2>The Future</h2>
    <p class="card-text">CentralHelp is constantly evolving, taking in user feedback and trends in the world of IT to constanly upgrade
      our services, meeting customer expectations at every turn. In the future, we will include image upload services, that allow users to
      add images to their tickets, providing a way for users to share their problems in cases where they cannot adequately put them into words.
      While CentralHelp is currently designed for small to medium businesses, in the future we may consider launching a sister application,
      with features and services required for big businesses.
      If you have any suggestions or requests for future features, feel free to contact us and share your thoughts. 
    </p>
  </div>
  <div class="card">
    <h2>Contact Us</h2>
    <p class="card-text">Developer: Killian McKenna
                        <br> Email: mckenna-k22@ulster.ac.uk
                        <br> Phone Number: 07792 633712
    </p>
  </div>
</div>
